{% extends "menu.html" %}
{% load static %}
{% block title %}Dispositivos{% endblock %}
{% block content %}
     <!-- Content -->
    <div class="container-fluid">
       <h1 class="dashboard-title">Dispositivos</h1>
       <row>
          <div onclick="location.href='/environment_monitor/dashboard?device_name=solar_esp'" 
          class="device-block">
             <p>Solar-ESP</p>
             <img src="{% static 'home/resources/mon_amb_v2.jpg' %}" 
               alt="Solar-ESP"
               class="device-img"></img>
             <p style="font-size:16px">Temperature and Humitdity</p>
          </div>
          <div onclick="location.href='/environment_monitor/dashboard?device_name=atom5_prot'" 
          class="device-block">
             <p>AtomM5-prototype</p>
             <img src="{% static 'home/resources/atomm5_prototype.jpg' %}" 
               alt="AtomM5-prototype"
               class="device-img"></img>
             <p style="font-size:16px">Temperature, Humitdity and Pressure</p>
          </div>
       </row>
    </div>
{% endblock %}
{% block extra_js %}
<script>
$("#devices").addClass("active");
$("#dashboard").removeClass("active");
$("#start").removeClass("active");
</script>
{% endblock %}
