{% extends "menu.html" %}
{% load static %}
{% block title %}Dispositivos{% endblock %}
{% block content %}
     <!-- Content -->
    <div class="container-fluid">
       <h1 style="color:#645664">Dispositivos</h1>
       <row>
          <div class="device-block">
             <p>Monitor de temperatura y humedad</p>
             <img src="{% static 'home/resources/mon_amb_v2.jpg' %}" 
               alt="Monitor de temperatura y humedad"
               class="device-img"></img>
             <p style="font-size:16px">Vista frontal</p>
          </div>
          <div class="device-block">
             <p>Monitor de temperatura y humedad</p>
             <img src="{% static 'home/resources/mon_amb_back_v2.jpg' %}" 
               alt="Monitor de temperatura y humedad"
               class="device-img"></img>
             <p style="font-size:16px">Vista interior</p>
          </div>
          <div class="device-block">
             <p>Anim5Stack</p>
             <img src="{% static 'home/resources/anim5stack.jpg' %}" 
               alt="Anim5Stack v1"
               class="device-img"></img>
             <p style="font-size:12px">Pixel image made by Eclipse89(https://www.pixilart.com/eclipse89)</p>
          </div>
       </row>
    </div>
{% endblock %}
{% block extra_js %}
{% endblock %}
