{% extends "menu.html" %}
{% load static %}
{% block title %}La Madriguera{% endblock %}
{% block content %}
     <!-- Content -->
    <div class="container-fluid">
       <h1 style="color:#645664">La Madriguera</h1>
       <row>
          <div class="home-block" onclick="location.href='/environment_monitor/dashboard/'">
             <p>Monitor de ambiente</p>
          </div>
          <div class="home-block" onclick="location.href='/anim5_stack/sd_manager/'">
             <p>AniM5Stack</p>
          </div>
          <div class="home-block" onclick="location.href='/devices/'">
             <p>Dispositivos</p>
          </div>
       </row>
    </div>
{% endblock %}
{% block extra_js %}
{% endblock %}
