{% extends "menu.html" %}
{% load static %}
{% block title %}La Madriguera{% endblock %}
{% block content %}
     <!-- Content -->
    <div class="container-fluid">
       <h1 class="dashboard-title">La Madriguera</h1>
       <row>
          <div class="home-block" onclick="location.href='/dashboard/'">
             <p>Dashboard</p>
          </div>
          <div class="home-block" onclick="location.href='/devices/'">
             <p>Dispositivos</p>
          </div>
       </row>
    </div>
{% endblock %}
{% block extra_js %}
<script>
$("#start").addClass("active");
$("#dashboard").removeClass("active");
$("#devices").removeClass("active");
</script>
{% endblock %}
