env_iot-dashboard/*
env_iot-dashboard/*/*
staticfiles/*
*/__pycache__/*
*/__pycache__/*/*
*/*/__pycache__/*
environment.sh

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
certs
