{% extends "menu.html" %}
{% load static %}
{% block title %}Dashboard Monitor de Ambiente{% endblock %}
{% block content %}
     <!-- Content -->
    <div class="container-fluid">
      <h1>Dashboard monitor de ambiente</h1>
      <h2>Temperatura</h2>
      <label>Mostrar <input id="puntos_temp" type="number" value="20"
         max="99" min="0"/> puntos</label>
      <canvas id="temperature"></canvas>
      <h2>Humedad</h2>
      <label>Mostrar <input id="puntos_humid" type="number" value="20"
         max="99" min="0"/> puntos</label>
      <canvas id="humidity"></canvas>
    </div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/measurement_chart.js' %}"></script>
<script src="{% static 'environment_monitor/js/environment_monitor.js' %}"></script>
{% endblock %}
