<!DOCTYPE html>
{% load static %}
<html>
<head>
   <meta charset="utf-8">
   <title>Underground Cuy</title>
   <!-- icon -->
   <link rel="apple-touch-icon" sizes="180x180" href="{% static '/resources/favicon/apple-touch-icon.png' %}">
   <link rel="icon" type="image/png" sizes="32x32" href="{% static '/resources/favicon/favicon-32x32.png' %}">
   <link rel="icon" type="image/png" sizes="16x16" href="{% static '/resources/favicon/favicon-16x16.png' %}">
   <link rel="manifest" href="{% static '/resources/favicon/site.webmanifest' %}">
   <link rel="mask-icon" href="{% static '/resources/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
   <meta name="msapplication-TileColor" content="#da532c">
   <meta name="theme-color" content="#ffffff">
   <!-- end icon -->
   <!-- css -->
   <!-- end css -->
   <!-- chart js -->
   <!-- end chart js -->
</head>
<body></body></html>