<!DOCTYPE html>
{% load static %}
<html>
<head>
   <meta charset="utf-8">
   <title>{% block title %}No title{% endblock %}</title>
   <link rel="stylesheet" href="{% static 'css/menu.css' %}">
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
   <div id="viewport">
     <!-- Sidebar -->
     <div id="sidebar">
       <header>
         <a href="#">Dashboard</a>
       </header>
       <ul class="nav">
         <li>
            <div onclick="location.href='/environment_monitor/home/'">Monitor de ambiente</div>
         </li>
         <li>
            <div onclick="location.href='/sound_recorder/home/'">Grabador de audio</div>
         </li>
         <li>
            <div>Opcion3</div>
         </li>
       </ul>
     </div>
     <!-- Content -->
     <div id="content">
        {% block content %}{% endblock %}
    </div>
   </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{% block extra_js %}{% endblock %}
</html>
